* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    background: url(windows10.jpg) no-repeat center center fixed;
    background-size: cover;
}

textcolor{
  color: aliceblue;
}